* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*:focus{
  outline: none;
}
body{
  font-family:'Roboto', sans-serif;
}
button{
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}
a{
  cursor: pointer;
}
