* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*:focus{
  outline: none;
}
body{
  color:rgb(14,17,17);
  font-family:'Poppins', sans-serif
 
}
button{
  cursor: pointer;
  font-family:'Poppins', sans-serif

}

a{
  cursor: pointer;
  font-family:'Poppins', sans-serif
}



.display-none{
  display:none;
}