.home-about h3{
 font-size: 1.5em;
}
.home-about h4{
 font-size:1.5em;
}
.home-about p{
 font-size: 1.1em;
 line-height: 1.2em;
}

.home-about{
 padding: 4rem 2rem;
 border-top: solid rgba(0, 0, 0, 0.093) 1px;
 border-bottom: solid rgba(0, 0, 0, 0.093) 1px;
}
.our-start{
 margin-top:2rem;
 margin-bottom:4rem;
}
.our-start p{
 margin-bottom: 2rem;
}
.about-us-header,.core-principles h3{
 text-align: center;
 font-size: 2em;
 letter-spacing: 0.5px;
}
.principles-list li{
 list-style-type:none;
}
.core-principles h4{
 color: rgba(255, 85, 0, 0.671);
}