
.contact-section{
    padding: 4rem;
}
.contact-image-form-container{
    display: flex;
    justify-content: center;
    gap:4rem;
}
.contact-image-container{
    width:40%;
    overflow: hidden;
}
.contact-image{
    width: 100%;
}
.contact-header-container{
    grid-row-start: 1;
    grid-column-start:1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.contact-header{
 text-align: center;
 font-size: 2em;
 
}
.contact-section input, .contact-section textarea {
 display: block;
 font-family:'Poppins', sans-serif;
}

.contact-section form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.100);
    border:1px solid rgba(3, 3, 31, 0.219);
    padding:0rem 2rem;
    border-radius: 5px;
    gap:2rem;

}
.contact-section form input{
 width:20rem;
 margin-top:0.5rem;
 padding:0.8rem;
 border:1px solid rgb(0, 0, 0);
 border-radius:4px;

}
.contact-section label{
 font-size: 1.1em;
 font-weight: 500;
}
.name-container{
    display: flex;
    gap:2rem;
    
}
.fname-container{
 
}

.lname-container{

}
.phone-email-container{
    display: flex;
    gap:2rem;

}
.email-container{

 
}
.phone-container{


}
.contact-message-container{
    display: flex;
    flex-direction: column;
    width: 42rem;
}
.contact-message-container textarea{
 padding: 1rem;
 font-size: 1rem;
 resize: none;
 margin-top: 0.5rem;
 font-family:sans-serif;
}
.contact-message-container textarea:focus{
 outline:none;
}
.send-btn-container{


}
.send-btn-container button{
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0 auto;
 width: 15rem;
 padding:1rem;
 background-color: rgba(255, 85, 0, 0.762);
 color:rgb(255,255,255);
 border: none;
 border-radius: 2px;
 font-size: 1.30em;
 transition: 250ms ease;
}
.send-btn-text{
 margin-right: 0.5rem;
}
.send-btn-container button:hover{
 background-color:rgba(255, 85, 0, 0.871);
}

.fname-container, .lname-container,.email-container,.phone-container,.contact-message-container{

}