.footer-socials{
 display: none;
}
.footer{
 background-color: rgb(3, 3, 31);
 color:rgb(222, 215, 215);
 padding: 2rem;
 display: grid;

 grid-template-columns: repeat(3,1fr);
 grid-template-rows: repeat(2,1fr);
}
.footer-contact{

}
.nav-summary{
 grid-column-start: 2;
 grid-row-start: 1;
}
.privacy-policy{

 grid-column-start: 3;
 grid-row-start: 1;
}
.copyright{
 grid-column-start: 2;
 grid-row-start: 2;
}