.footer a{
 color: rgb(222, 215, 215);
}

.footer{
 background-color: rgb(3, 3, 31);
 color:rgb(222, 215, 215);
 padding: 2rem;
 display: grid;
 justify-content: space-evenly;
 grid-template-columns: repeat(3,1fr);
 font-family: 'Poppins', sans-serif;
}
.footer h3{
 margin-bottom:0.5rem;
}
.footer-contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-contact-subheader{
 font-weight: 600;
}
.footer-contact address{
 margin-bottom: 0.5rem;
}

.nav-summary{
 grid-column-start: 2;
 grid-row-start: 1;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 
}
.nav-summary ul{
 list-style:circle;
}
.nav-summary ul li a{
 text-decoration: underline;
}
.footer-socials{
 grid-column-start: 3;
 grid-row-start: 1;
 display: flex;
 justify-content: start;
 align-items: center;
 flex-direction: column;
  
}
.copyright{
 grid-column-start: 2;
 grid-row-start: 2;
 display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items: center;
  white-space: nowrap;
}
