
header{
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-around
 ;
 font-family: 'Poppins', sans-serif;
 padding: 2rem;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.097);
  width: 100%;
  white-space: nowrap;
}
h1{
  font-weight: 600;
}
header a {
  text-decoration: none;
  color:rgb(0,0,0);
}

.navbar li{
 list-style: none;
 display: inline;
 margin:0 2rem;  
 font-family: 'Poppins', sans-serif;
 transition:100ms ease-in linear;
 font-weight: 400;
}
.navbar a:hover{
 color:rgb(209, 82, 18);
}

.currentLink{
  color:rgb(209, 82, 18);
  font-weight: 500;
}





.header-btns{
 border:none;
 background-color: none;
 margin:0 1em;
 width:10rem;
 padding:1rem;
 border-radius: 5px;
 font-size: 0.9em;
 transition: 100ms ease-in;
 font-family: 'Poppins', sans-serif;
 font-weight: 400;

}
 .header-selected-btn, .signInBtn-header:hover{
 background-color:rgb(245, 121, 59);
 background-color: rgb(99, 99, 99);
 color: rgb(255,255,255);
 font-size: 800;
 font-weight: 500;
}
.header-selected-btn{
  background-color: rgb(99, 99, 99);
  font-size: 800;
  font-weight: 500;

}
.signUpBtn-header:hover, .signup-btn-selected{
  background-color:rgb(209, 82, 18);
  color:rgb(255,255,255);
  font-weight:500;
}
.signupBtn-selected{
  background-color:rgb(209, 82, 18);
  color:rgb(255,255,255);
  font-size: 800;
 font-weight: 500;

}
.login-container {
  display: block;
  position: relative;
}
.login-container input{
  display: block;
}
.login-wrapper{
  display: inline;
}
.signup-wrapper{
  display: inline;
}
.login-form {
  display: none;
  position: absolute;
  background: #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 0 darken(#ddd, 5%);
  input {
    background: #f1f1f1;
    font-weight: 300;
    font-style: italic;
    border-radius: 2px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  input[type="submit"] {
    color: #ffF;
    background: #1BBC9B;
    font-style: normal;
    box-shadow: 0 4px 0 darken(#1BBC9B, 5%);
  }
}

@include keyframes(slide) {
  0% {
    opacity: 0;
    @include transform(translateY(20px));
  }
  100% {
    opacity: 1;
    @include transform(translateY(0));
  }
}

.open {
  @include animation(slide 1s);
  display: block;
  position: absolute;
  left:44rem;
  top:0.5rem;
  background-color:rgba(255, 255, 255);
  padding:0.5rem 1rem;
  border:1px solid rgb(0,0,0);
  border-radius: 1%;

  input{
      margin:2% 0;
      padding:0.5rem;
      border-radius: 2%;
      outline:none;
      border:rgba(0, 0, 0, 0.712) 1px solid;
      width: 20rem;
  }
  input[type="submit"]{
    width:100%;
    background-color:rgb(53, 7, 128);
    color:rgb(255,255,255);
    border:none;
    cursor:pointer;
    font-weight:500;
  }
 
}



