
header{
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-around
 ;
 font-family: 'Poppins', sans-serif;
 padding: 2rem;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.097);
  width: 100%;
  white-space: nowrap;
}
h1{
  font-weight: 600;
}
header a {
  text-decoration: none;
  color:rgb(0,0,0);
}

.navbar li{
 list-style: none;
 display: inline;
 margin:0 2rem;  
 font-family: 'Poppins', sans-serif;
 transition:100ms ease-in linear;
 font-weight: 400;
}
.navbar a:hover{
 color:rgb(247, 104, 32);
}

.currentLink{
  color:rgba(255, 85, 0, 0.871);
  font-weight: 500;
}





.header-btns{
 border:none;
 background-color: none;
 margin:0 1em;
 width:10rem;
 padding:1rem;
 border-radius: 5px;
 font-size: 0.9em;
 transition: 100ms ease-in;
 font-family: 'Poppins', sans-serif;
 font-weight: 400;
 text-transform: uppercase;

}
.header-btns:hover{
 background-color:rgb(245, 121, 59);
 color: rgb(255,255,255);
 font-size: 800;
}

.login-container {
  background-color: blue;
  display: block;
  margin-left:100%;
  z-index:100;
}
.login-container input{
  display: block;
}
.login-wrapper{
  display: inline;
}
.signup-wrapper{
  display: inline;
}
.login-form {
  display: none;
  position: absolute;
  background: #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 0 darken(#ddd, 5%);
  input {
    background: #f1f1f1;
    font-weight: 300;
    font-style: italic;
    border-radius: 2px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  input[type="submit"] {
    color: #ffF;
    background: #1BBC9B;
    font-style: normal;
    box-shadow: 0 4px 0 darken(#1BBC9B, 5%);
  }
}

@include keyframes(slide) {
  0% {
    opacity: 0;
    @include transform(translateY(20px));
  }
  100% {
    opacity: 1;
    @include transform(translateY(0));
  }
}

.open {
  @include animation(slide 1s);
  display: block;
 
}



