.landing-page{

}
.hero-img-container{
 position: relative;
 left:28rem;
 bottom: 2rem;
 overflow: hidden;
 width:570px;
 z-index: -1;
}
.hero-img{
 width: 100%;
}
.hero-header{
 margin-top:2.5rem;
 margin-left: 7.5rem;
 z-index:1;
 font-size: 2.5em;
}
.bold{
 font-weight: 900;
 color:rgba(255, 85, 0, 0.671);
}

