.landing-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-img-container{
 overflow: hidden;
 margin:0 auto;
 width:55rem;
}

.hero-img{
 width: 100%;
}
.hero-header{
 margin-top:2.0rem;
 font-family:'Poppins', sans-serif;
 font-weight: 500;
 font-size: 2.5em;
 width: 50%;
}
.bold{
    font-weight: 600;
 color:rgba(255, 85, 0, 0.671);
}

