
.price-top{
    

}
.price-top fieldset{
    width: 25%;
    border-radius: 5px;
    margin: 0 auto;

}
.price-top p{
    color:rgb(3,3,31);
    font-size: 2em;
    font-weight: 600;
    display: none;
}
.pricing-header{
    text-align: center;
    font-size:2.5em;
    font-weight: 400;
    padding: 2rem;

}
.price-header-span{
    font-weight: 600;
    color:rgb(3, 3, 31);
}
.pricing-radio{
   margin:1rem;
   display: flex;
   justify-content: center;
   align-content: center;
   font-weight: 600;
   padding:1.5rem;
   gap:2rem;
   border:none;
}
.pricing-radio input[type='radio']{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgb(3, 3, 31); /* Change this color as needed */
    outline: none;
    transition: border 0.3s;
}
input[type="radio"]:checked {
    background-color: rgb(3, 3, 31); /* Change this color as needed */
}
.price-radio-container{
    display: flex;
    align-items: center;
    gap:0.5rem;
}
.pricing-radio label{
    font-size:1.8em;
}
.pricing-cards{
    display: flex;
    justify-content: space-around;
    gap:2.5rem;
    padding: 4rem;
}
.price-card{
    border: 1px solid rgba(0, 0, 0, 0.377);
    width: 25%;
    padding: 4rem 2rem;
    display: grid;
    align-items: center;
    border-radius: 4px;
    
}

.price-card h3{
    font-size: 1.5em;
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
    border-bottom:4px solid black;
}
.price-card h4{
    text-align: center;
    color:rgb(128, 128, 133);
    font-size: 1.3em;
}
.price-card ul{
 text-align: center;
 list-style-type: none;
}
.price-card li{
    margin:1.5rem 0;
    text-align: center;
    font-weight: 600;

}

.price-get-started-btn{
    width: 100%;
    padding: 1rem;
    border:none;
    background-color:rgba(255, 85, 0, 0.849);
    color:rgb(255,255,255);
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size:1.0em;
}

.extra-plan-card{
    background-color:rgb(3, 3, 31);
    color:rgb(255, 255, 255) ;

}
.extra-plan-card h3{
  border-color: rgb(255, 255, 255);
}
.extra-plan-card h4{
    color:rgb(255,255,255);

}
.extra-plan-card button{
    background-color: rgb(241, 109, 42);
}
.free-plan-btn{
    background-color:rgba(128, 128, 128, 0.829) ;
}
.pricing-more-questions{
    padding: 2rem;
    margin:1rem 6rem;
    margin-bottom:6rem;
    background-color:rgb(237, 237, 237) ;
    display: flex;
    justify-content: center;
}
.pricing-more-questions h2{
    
}
.pricing-connect-btn{
    background-color:rgb(3,3,31);
    border:none;
    border-radius: 5px;
    padding:1rem 4rem;
    color:rgba(255, 255, 255);
    font-size:1.0em;
    font-weight: 600;
    margin-top:1rem;
    display: flex;
    align-content: center;
    gap:0.5em;
}
.pricing-connect-btn box-icon{
}