.signup-official-container{
    border:1px solid #242526;
    padding:2rem;
    border-radius:15px;
}

.signup-section{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding:2rem;
    margin-top:1rem;

    
}
.signup-header{
    display: flex;
    justify-content: center;

}
.signup-header h2{
    font-size:1.9em;
}
.signup-type-container{
    color:rgb(255,255,255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:10rem 2rem;
    background-color:#242526;
    
    border-radius: 15px;

}

.signup-container{
    display: block;
}
.signup-select-label{
    font-size:1.1em;
    text-align: center;
    font-weight: 500;
}
.signup-select-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:1.2rem;
    padding:2rem;
}
.signup-select-container select{
    background-color: rgb(255,255,255);
    font-size:1em;
    width:40rem;
    color:#242526;
    border:2px solid rgb(255,255,255);
    cursor:pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding:0.65rem;
    border-radius: 20px;
    margin: 0 auto;
}
.signup-select-container select option{
   padding: 1rem;
}
.signup-form-employee, .org-page-one .signup-form-org{
    border:1.2px solid rgb(121,121,121);
    border-radius:5px;
    
}

.signup-plan-container{
    text-align:center;
    font-size: 1.1em;
}
.subtotal-section{
    border:solid 1px rgb(121,121,121);
    border-radius: 4px;
}

.subtotal-section{
    margin-top:5rem;
    padding:1.5rem;
}
.subtotal-container{
    display: flex;
    justify-content:space-between;
    padding:0.7rem;
    
}
.signup-subtotal-tax-container{
    border-bottom: dotted rgb(121,121,121) 1px;
}
.signup-total-container{
    margin-top:0.5rem;
}






details  ul {
    margin-left:1.5rem;
}
.org-page-two-num form{
    margin:0 auto;
}





.enter-card-details-container{
    display:grid;
    grid-template-rows:repeat(4,auto);
    grid-template-columns: repeat(2,auto);
    padding:1rem;
    border-radius: 5px;
    gap:1rem;
    
}
.org-page-two-credit{
    grid-row-start:3;
    grid-column-start:2;

}
.enter-card-details-container div input, .billing-address-container input{
    display: block;
    width:15rem;
    padding:0.6rem;
    border-radius: 4px;
    border:1px solid rgb(121,121,121);
}
.billing-address-container input{
    padding:0.55rem
}
.enter-card-details-container label{
    font-weight: 600;
}


.card-details-style-container{
    display:grid;
    grid-template-rows:repeat(4,auto);
    grid-template-columns: repeat(2,auto);
    padding:1rem;
    border-radius: 5px;
}
.card-details-header-container{
    grid-row-start:1;
    grid-column-start:1;
    grid-column-end:3;
}

.card-details-style-container div input{
    display: block;
}
.card-details-style-container div{
    padding:1rem;
}
.card-detail-expr {
    grid-row-start:2;
    grid-column-start:2;
}

.card-details-style-container div label, .billing-address-container div label{
    font-weight: 600;
}
.cvv-style-container{
    grid-row-start:3;
    grid-column-start:1;
    grid-column-end:3;
}

.billing-address-container{
    grid-row-start:4;
    grid-column-start:1;
    grid-column-end:3;
    
    padding:1rem;
    display: grid;
    grid-template-rows: auto auto;
    
}
.page-change-btn-container{
    display: flex;
    justify-content: space-evenly;
    gap:1.2rem;
    margin-top:1rem;
}
.page-two-change-btn-container{
    grid-row-start:6;
    grid-column-start:1;
    grid-column-end:3;
    display: flex;
    justify-content: center;
}
.org-page-two-billing{
    grid-row-start:4;
    grid-column-start:2;
}

.billing-address-container-header{
    font-size:1.3em;
}
.billing-address-container-header h4{
}
.billing-style-container{
    display: grid;
    grid-template-rows:auto auto auto auto;
    grid-template-columns: auto auto;
    gap:1rem;
}
.billing-style-container div input{
    display: block;
}
.billing-address-container-addressOne-addressTwo{
    grid-row-start:1;
    grid-row-end:4;
    grid-column-start:1;
    grid-column-end:3;
}
.billing-address-container-addressOne-addressTwo div{
    margin:1rem 0;
}
.billing-address-container-addressOne-addressTwo input{
    width:100%;
    
}
.org-page-two .create-an-account-button-container{
    grid-row-start:5;
    grid-column-start:1;
}
.org-page-two .create-an-account-button-container{
    width: 45%;
    margin: 0 auto;
}
.org-right-button , .org-left-button {
    background-color: transparent;
    border:none;
    outline:none;
}




.free-btn-container button{
    background-color:rgba(128, 128, 128, 0.829);
    color:rgb(255,255,255);
}