.signup-section{
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding:2rem;
    margin-top:1rem;
    
}
.company-org-container{
    
    
}
.signup-header{
    display: flex;
    justify-content: center;

}
.signup-header h2{
    font-size:1.9em;
}
.signup-type-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:2rem;
}
.signup-official-container{
    
    
}

.signup-container{
    display: block;
}
.signup-select-label{
    font-size:1.1em;
    text-align: center;
    font-weight: 500;
}
.signup-select-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:1.2rem;
    padding:2rem;
}
.signup-select-container select{
    background-color: rgb(255,255,255);
    font-size:1em;
    width:40rem;
    border:2px solid rgb(0,0,0);
    cursor:pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding:0.65rem;
    border-radius: 20px;
    margin: 0 auto;
}
.signup-select-container select option{
   padding: 1rem;
}
.signup-container label{
    display: block;
    margin-bottom:0.5em;
    font-weight: 600;
}
.signup-form-employee{
    border:1.2px solid rgb(121,121,121);
    border-radius:5px;
    
}
.signup-form input{
    width: 20rem;
    border-radius: 5px;
    border:1px solid rgb(0,0,0);
    padding: 1rem;
}

.signup-form-org{
   



}

.signup-form-employee{
   padding:1rem;
   display:grid;
   grid-template-rows:repeat(4,1fr);
   grid-template-columns: repeat(2,1fr);
   border-radius: 5px;
}
.signup-fname-container{
    grid-row-start:2;
}
.signup-lname-container{
    grid-row-start:2;
    grid-column-start:2;
}
.signup-email-container{
    grid-row-start:3;
    grid-column-start:1;
    grid-column-end:3;
}
.signup-phone-container{
    grid-row-start:3;
    grid-column-start:2;
    grid-column-end:3;
}
.signup-password-container{
    grid-row-start:4;
    grid-column-start:1;
    grid-column-end:3;
}
.signup-password-container input{
    width: 100%;
}

.signup-form-employee > *, .org-page-one > *{
    padding:1rem;
}
.signup-companyId{
    grid-row-start:1;
    grid-column-start:1;
    grid-column-end:3;
    
}
.signup-companyId input, .company-name-container input{
    width: 100%;
}

.signup-fname-container{

}
.signup-lname-container{
  
}
.create-an-account-button-container{
    grid-row-start:5;
    grid-column-start:1;
    grid-column-end:3;
  
}
.create-an-account-button-container button{
    width: 100%;
    font-weight: 600;
    padding:1rem;
    margin:0 auto;

}
.org-page-one{
    
    display:grid;
    grid-template-rows:repeat(1fr,5);
    grid-template-columns: repeat(1fr,2);
    padding:1rem;
    
}
.org-btn-container-right{
    grid-row-start:5;
    grid-column-start:2;
}
.company-name-container{
    grid-row-start:1;
    grid-column-start:1;
    grid-column-end:3;
}
.org-left-right-btn-container{
    grid-row-start:4;
}
.org-page-two{
    display: grid;
    flex-direction: column;
   
}
.org-left-btn{
    grid-row-start:4;
    grid-column-start:1;
    margin:0 auto;
}
.org-right-btn{
    grid-row-start:4;
    grid-column-start:2;
    margin:0 auto;
}
.org-page-two{
    grid-template-rows:repeat(5,auto);
    grid-template-columns:repeat(2,auto);
    gap:1rem;
}


.org-page-two  > * {
    padding:1rem;
}
.org-page-two-num, .org-page-two-credit, .org-page-two-billing {
    border:solid 1px rgb(0,0,0);
    border-radius:4px;
}

.org-page-two label{
    font-weight: 500;
}
.org-page-two-header {
    grid-row-start:1;
    grid-column-start:1;
    grid-column-end:3;
    text-align: center;
    font-size:1.4em;
}
.org-page-two-num {
    grid-row-start:3;
    grid-row-end:5;
}
details  ul {
    margin-left:1.5rem;
}
.org-page-two-num form{
    margin:0 auto;
}


.price-btn-container{
    display: flex;
    background-color: rgb(255,255,255);
    gap:1rem;
    padding:1rem;
}
.price-btn-container button{
    width: 10rem;
    padding:0.5rem;
    border:none;
    background-color: rgb(121,121,121);
    border-radius: 2px;
    font-weight: 500;
    color:rgb(255,255,255);
    font-family: 'Poppins', sans-serif;
    font-size:0.9em;
}
.price-btn-container details{
    font-weight: 500;
}
.num-of-employees-container{
    font-family: 'Poppins', sans-serif;
}
.org-page-two .signup-form-org{
    grid-row-start:2;
    grid-row-end:4;
}


.num-of-employees-input-container{
    padding:1.5rem;
}
.num-of-employees-input-container div{
}
.num-of-employees-container input{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.enter-card-details-container{
    display:grid;
    grid-template-rows:repeat(4,auto);
    grid-template-columns: repeat(2,auto);
    padding:1rem;
    border-radius: 5px;
    gap:1rem;
    
}
.org-page-two-credit{
    grid-row-start:3;
    grid-column-start:2;

}
.enter-card-details-container div input, .billing-address-container input{
    display: block;
    width:15rem;
    padding:0.6rem;
    border-radius: 4px;
    border:1px solid rgb(121,121,121);
}
.billing-address-container input{
    padding:0.55rem
}
.enter-card-details-container label{
    font-weight: 600;
}


.card-details-style-container{
    display:grid;
    grid-template-rows:repeat(4,auto);
    grid-template-columns: repeat(2,auto);
    padding:1rem;
    border-radius: 5px;
}
.card-details-header-container{
    grid-row-start:1;
    grid-column-start:1;
    grid-column-end:3;
}

.card-details-style-container div input{
    display: block;
}
.card-details-style-container div{
    padding:1rem;
}
.card-detail-expr {
    grid-row-start:2;
    grid-column-start:2;
}

.card-details-style-container div label, .billing-address-container div label{
    font-weight: 600;
}
.cvv-style-container{
    grid-row-start:3;
    grid-column-start:1;
    grid-column-end:3;
}
.cvv-style-container input{
    
}
.billing-address-container{
    grid-row-start:4;
    grid-column-start:1;
    grid-column-end:3;
    
    padding:1rem;
    display: grid;
    grid-template-rows: auto auto;
    
}
.page-change-btn-container{
    display: flex;
    justify-content: space-evenly;
    gap:1.2rem;
    margin-top:1rem;
}
.page-two-change-btn-container{
    grid-row-start:6;
    grid-column-start:1;
    grid-column-end:3;
    display: flex;
    justify-content: center;
}
.org-page-two-billing{
    grid-row-start:4;
    grid-column-start:2;
}

.billing-address-container-header{
    font-size:1.3em;
}
.billing-address-container-header h4{
}
.billing-style-container{
    display: grid;
    grid-template-rows:auto auto auto auto;
    grid-template-columns: auto auto;
    gap:1rem;
}
.billing-style-container div input{
    display: block;
}
.billing-address-container-addressOne-addressTwo{
    grid-row-start:1;
    grid-row-end:4;
    grid-column-start:1;
    grid-column-end:3;
}
.billing-address-container-addressOne-addressTwo div{
    margin:1rem 0;
}
.billing-address-container-addressOne-addressTwo input{
    width:100%;
    
}
.org-page-two .create-an-account-button-container{
    grid-row-start:5;
    grid-column-start:1;
}
.org-page-two .create-an-account-button-container{
    width: 45%;
    margin: 0 auto;
}
.org-right-button , .org-left-button {
    background-color: transparent;
    border:none;
    outline:none;
}

.solo-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start:1;
    grid-column-end:3;
}


.free-btn-container button{
    background-color:rgba(128, 128, 128, 0.829);
    color:rgb(255,255,255);
}