.signup-section{
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding:2rem;
    margin-top:1rem;
    
}
.company-org-container{
    
    
}
.signup-header{
    display: flex;
    justify-content: center;

}
.signup-header h2{
    font-size:2.5em;
}
.signup-type-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:2rem;
}
.signup-official-container{
    
    
}

.signup-container{
    display: block;
}
.signup-select-label{
    font-size:1.2em;
    font-weight: 500;
}
.signup-select-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:1.2rem;
    padding:2rem;
}
.signup-select-container select{
    background-color: rgb(255,255,255);
    font-size:1.1em;
    border:2px solid rgb(0,0,0);
    cursor:pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding:0.65rem;
    border-radius: 20px;
}
.signup-select-container select option{
   padding: 1rem;
   
}
.signup-container label{
    display: block;
    margin-bottom:0.5em;
    font-weight: 600;
}
.signup-form input{
    width: 20rem;
    border-radius: 5px;
    border:1px solid rgb(0,0,0);
    padding: 1rem;
}

.signup-form-org{
   



}

.signup-form-employee{
   padding:1rem;
   border:1px solid rgb(0,0,0);
   display:grid;
   grid-template-rows:repeat(4,1fr);
   grid-template-columns: repeat(2,1fr);
}
.signup-fname-container{
    grid-row-start:2;
}
.signup-lname-container{
    grid-row-start:2;
    grid-column-start:2;
}
.signup-email-container{
    grid-row-start:3;
    grid-column-start:1;
    grid-column-end:3;
}
.signup-phone-container{
    grid-row-start:3;
    grid-column-start:2;
    grid-column-end:3;
}
.signup-password-container{
    grid-row-start:4;
    grid-column-start:1;
    grid-column-end:3;
}
.signup-password-container input{
    width: 100%;
}

.signup-form-employee > *, .org-page-one > *{
    padding:1rem;
}
.signup-companyId{
    grid-row-start:1;
    grid-column-start:1;
    grid-column-end:3;
    
}
.signup-companyId input, .company-name-container input{
    width: 100%;
}

.signup-fname-container{

}
.signup-lname-container{
  
}
.create-an-account-button-container{
    grid-row-start:5;
    grid-column-start:1;
    grid-column-end:3;
  
}
.create-an-account-button-container button{
    width:100%;
    font-weight: 600;
    padding:1rem;
    margin:0 auto;

}
.org-page-one{
    
    display:grid;
    grid-template-rows:repeat(1fr,5);
    grid-template-columns: repeat(1fr,2);
    padding:1rem;
    border:1px solid rgb(0,0,0);
}
.org-btn-container-right{
    grid-row-start:5;
    grid-column-start:2;
}
.company-name-container{
    grid-row-start:1;
    grid-column-start:1;
    grid-column-end:3;
}
.org-page-two{
    display: grid;
    background-color: lightblue;
    grid-template-rows:repeat(4,auto);
    grid-template-columns: repeat(2,1fr);
}

.org-page-two  > * {
    border:1px solid rgb(0,0,0);
    padding:1rem;
}
.org-page-two label{
    font-weight: 500;
}
.org-page-two h3{
    grid-row-start:1;
    grid-column-start:1;
    grid-column-end:3;
    background-color: pink;
    text-align: center;
    font-size:1.2em;
}
.price-btn-container{
    display: flex;
    background-color: rgb(255,255,255);
    gap:1rem;
    padding:1rem;
}
.price-btn-container button{
    width: 10rem;
    padding:0.5rem;
    border:none;
    border-radius: 2px;
    font-weight: 500;
    background-color: rgba(255, 85, 0, 0.849);
    color:rgb(255,255,255);
    font-family: 'Poppins', sans-serif;
    font-size:0.9em;
}
.price-btn-container details{
    font-weight: 500;
}
.num-of-employees-container{
    grid-row-start:2;
    grid-column-start:1;
    grid-column-end:3;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    align-items: center;
    gap:1rem;
    font-family: 'Poppins', sans-serif;
}
.num-of-employees-container input{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.enter-card-details-container{
    background-color:orange;
    grid-row-start:3;
    grid-column-start:1;
    grid-column-end:3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-details-style-container input{
    display: block;

}
.card-details-container label{

}
.free-btn-container button{
    background-color:rgba(128, 128, 128, 0.829);
    color:rgb(255,255,255);
}